implem/.env
implem/mprofile_*
.DS_Store
.vscode/
envThesis/
envpyAi/
project/config.json
implem/*
project/__py*
project/repos/
tests/__py*
.env
.pytest_cache/
__pycache__/
AnalyzedRepos/
Results/
*.db
report/
images/
analyses.jsonl